<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<span th:fragment="siteFooter">

    <footer class="text-center footer" th:fragment="footer-links">
        <p>This is the Assessment Tracking site for COMSC. It is on development at the moment </p>
        <a href="https://www.cardiff.ac.uk/computer-science">About Us</a>
        <p> if there are any queries about the site contact <address> CooperIM@Cardiff.ac.uk</address></p>
    </footer>

    <script th:fragment="bootstrap-js"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
    </script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/siteJS.js"></script>
</span>
</body>
</html>
