<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Menu</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div th:replace="fragments/components :: yearPicker"/></div>


<div>
    <table>
        <thead>
            <tr>
                <th>Index</th><th>StartYear</th><th>Name</th><th>Number</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="module, iStat : ${modules}">
            <td th:text="${iStat.index}"></td>
            <td th:text="${module.startYear}"></td>
            <td><a th:href="@{/module/{id} (id=${module.id})}" th:text="${module.moduleName}"></a></td>
            <td th:text="${module.moduleNumber}"></td>

        </tbody>

    </table>
</div>
<div th:replace="fragments/footer :: siteFooter"/></div>
</body>
</html>